body {
    font-family: Arial, sans-serif;
}

.navbar-brand {
    font-weight: bold;
}

.container h1 {
    margin-top: 20px;
}

#index .nav-index,
#about .nav-about,
#projects .nav-projects,
#contact .nav-contact {
    font-weight: bold;
}
